extends ./layouts/main.pug
//- - results = typeof(results) != 'undefined' ? results : { }
block content

  div(id="loader-wrapper")

  include header
  div(class="row")
    div(class="")
      div(class="col s12 m12 l12 ")
        each book in data
          div(class="col s12 m6 l3")
            div(class="card horizontal")
              div(class="card-stacked")
                div(class="card-content")
                  div(class="col s12 m12 l12")
                    div(class="col row" style="padding: 0px;")
                      div(class="")
                        img(src="/images/profile/" + book.profile, alt="" class="circle responsive-img" style="height:34px")
                    span(class="col" style="margin-left:10px")
                      a(href='viewprofile/' + book.activation_number)= book.fname + " " + book.lname
                    div(class="grey-text col right ")
                      a(class="btn waves-effect waves-light right submit waves-input-wrapper",href="/follow/" + book.user_id) Follow

